.container{
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  transition:visibility ease-in .5s ;
}
.containerInput{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.containerInputNameTask ,.containerInputDescTask{
  width: 100%;
  border-radius:4px; 
  outline: none;
  border: none;
  position: relative;
  margin-bottom: 10px;
}
.containerInputDescTask{
  width: 100%;
  border-radius:4px; 
  outline: none;
  border: none;
  height: 60px;
  position: relative;
  margin-bottom: 10px;

}
.inputAddTaskName{
  border-radius:5px;
  width: 100%;
  padding: 4px;
  color:rgb(15, 15, 15);
  font-size: 14px;
  &::placeholder{
    color:rgb(62, 116, 53);
  }
}
.inputAddTaskDesc{
  border-radius:5px;
  width: 100%;
  padding: 4px;
  color:rgb(15, 15, 15);
  font-size: 14px;
  height: 100%;
  &::placeholder{
    color:rgb(62, 116, 53);
  }
}
.clearInputAddTask{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 20px;
  height: 20px;
  background-color:rgb(186, 186, 186);
}
.btnAddTaskVisible{
  visibility: visible;
  width: 100px;
  
}
.btnAddTaskHidden{
  visibility: hidden;
}